@{
    ViewBag.Title = "Battle Robot";

    var tamanioTablero = 20;
    var guid = new Guid("fafc6bf9-c28e-4e2f-b61f-416ea1f2ff15");
}

<style>
    #tablero {
        width: 100%;
    }

    .fila-tablero {
        display: flex;
        height: 45px;
    }

    .celda-tablero {
        flex: 1;
        border: 1px solid #000;
    }

    .jugador {
        width: 35px;
        height: 35px;
        margin: auto;
    }

        .jugador img {
            position: relative;
            width: 100%;
            height: 100%;
        }

    #puntuaciones {
        display: flex;
        flex-wrap: wrap;
    }

        #puntuaciones .puntuacion-jugador {
            flex: 1;
            text-align: center;
            font-size: 16px;
            border: 1px solid #000;
            padding: 10px;
        }

        #puntuaciones .nombre-jugador {
            font-weight: bold;
            font-size: 20px;
        }
</style>

<h2 style="text-align: center">Puntuaciones</h2>
<hr />

<div id="puntuaciones"></div>
<hr />

<div id="tablero">
    @for (int i = 0; i < tamanioTablero; i++)
    {
        <div class="fila-tablero">
            @for (int j = 0; j < tamanioTablero; j++)
            {
                <div class="celda-tablero" data-fila="@i" data-celda="@j" id-robot=""></div>
            }
        </div>
    }
</div>



@section scripts{
    <script>

        // Crea una conexión con tu Hub
        let hub = $.connection.robotHub;
        const robots = [];
        const puntuaciones = [];
        const $tablero = $("#tablero");
        const imgRobot = "<div class='jugador' #propio><img src='#link-imagen'/></div>";
        const divPuntuacion = "<div class='puntuacion-jugador' jugador='#jugador'><p class='nombre-jugador'></p><span class='puntos'></span></div>";

        // Inicia la conexión
        $.connection.hub.start()
            .done(function () {
                console.log('Now connected, connection ID=' + $.connection.hub.id);
            })
            .fail(function () {
                console.log('Could not Connect!');
            });

        //Recibes los cambios que ha tenido cada robot
        hub.client.ReceiveNotification = function (infoRobot) {
            let json = JSON.parse(infoRobot);
            actualizarRobot(json);
        };

        //Limpiar todo el tablero, no debe quedar ninguna celda marcada
        hub.client.ClearAllBoard = function () {
            console.log("ClearAllBoard");
            $(".celda-tablero").css("background-color", "#fff");
        };

        const robotPropio = {
            id: '@guid',//guid,
            title: 'Juanes',
            url: 'https://www.akinrobotics.com/en/humanoid-robot/img/akinci-4/insansi-robot-akinci-4.webp',
            color: '#41a5ee',
            position: { x: 0, y: 0 },
        };

        const movimientos = {
            arriba: 119,
            abajo: 115,
            izquierda: 97,
            derecha: 100
        }

        function sendPosition() {
            //de esta manera notificamos a los demás la nueva posición de nuestro robot
            hub.invoke('SendRobotInformation', JSON.stringify(robotPropio));
        }

        function actualizarRobot(robot, propio) {
            //Validamos si el robot ya existe o no.
            let enJuego = validarRobotEnJuego(robot);

            //Si hay robot en juego, debemos de quitarlo del tablero, sino lo agregamos.
            if (enJuego) removerRobotCelda(robot);
            else agregarRobotEnJuego(robot);

            moverRobot(robot, propio)
        }

        function moverRobot(robot, propio) {
            let { y, x } = robot.position;

            let $celda = $tablero.find(`[data-fila="${y}"][data-celda="${x}"]`)

            if ($celda.length == 0)
                return false;

            let divRobot = imgRobot.replace("#link-imagen", robot.url).replace("#propio", propio ? "propio" : "");
            let robotAnteriorCelda = $celda.attr("id-robot");

            $celda.html(divRobot);
            $celda.attr("id-robot", robot.id);
            $celda.css("background-color", `${robot.color}`)

            if (robotAnteriorCelda && robotAnteriorCelda !== robot) {
                modificarPuntuacion(robotAnteriorCelda, -1)
                modificarPuntuacion(robot.id, 1)
            }
            else if (!robotAnteriorCelda) {
                modificarPuntuacion(robot.id, 1)
            }
        }

        function validarRobotEnJuego(robot) {
            let robotEnJuego = false;

            if (robots.length > 0)
                robotEnJuego = robots.findIndex(r => r.id == robot.id) !== -1;

            return robotEnJuego;
        }

        function agregarRobotEnJuego(robot) {
            robots.push(robot);
            puntuaciones.push({ id: robot.id, jugador: robot.title, puntos: 0 });

            $("#puntuaciones").append(divPuntuacion.replace("#jugador", robot.id));
        }

        function removerRobotCelda(robot) {
            if (!validarCelda(robot.position))
                return false;

            const $celdaRobot = $tablero.find(`[id-robot="${robot.id}"]`);

            $celdaRobot.html("");
        }

        function validarCelda({ y, x }) {
            const $celdaAnterior = $tablero.find(`[data-fila="${y}"][data-celda="${x}"]`)

            return $celdaAnterior.length !== 0;
        }

        function modificarPuntuacion(idRobot, cantidad) {
            let indexPuntuacion = puntuaciones.findIndex(p => p.id === idRobot);

            const puntuacion = puntuaciones[indexPuntuacion];

            puntuacion.puntos += cantidad;

            puntuacion[indexPuntuacion] = puntuacion;

            const $divPuntuacion = $("#puntuaciones").find(`[jugador=${idRobot}]`);
            $divPuntuacion.find("p").html(puntuacion.jugador);
            $divPuntuacion.find("span").html(puntuacion.puntos);
        }

        actualizarRobot(robotPropio, true);

        $(document).on("keypress", function(event) {
            let yAnterior = robotPropio.position.y;
            let xAnterior = robotPropio.position.x;

            switch (event.which) {
                case movimientos.arriba:
                    robotPropio.position.y--;
                    break;
                case movimientos.abajo:
                    robotPropio.position.y++;
                    break;
                case movimientos.derecha:
                    robotPropio.position.x++;
                    break;
                case movimientos.izquierda:
                    robotPropio.position.x--;
                    break;
                default:
            }

            //Si la celda no es valida, devolvemos la posición en que se estaba, de lo contrario notificamos y actualizamos
            if (!validarCelda(robotPropio.position)) {
                robotPropio.position = { y: yAnterior, x: xAnterior };

                return false;
            }
            else {
                sendPosition();
                actualizarRobot(robotPropio, true);
            }

        })

    </script>
}