@{
    ViewBag.Title = "Battle Robot";
}

<table class="table table-bordered">
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 10; j++)
                {
                    <th><img id="@i@j" style="height:50px;width:50px;position:relative" /></th>
                }
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
            // Crea una conexión con tu Hub
            var hub = $.connection.robotHub;

            // Inicia la conexión
            $.connection.hub.start()
                .done(function () {
                    console.log('Now connected, connection ID=' + $.connection.hub.id);
                })
                .fail(function () {
                    console.log('Could not Connect!');
                });

            //Recibes los cambios que ha tenido cada robot
            hub.client.ReceiveNotification = function (infoRobot) {
                let json = JSON.parse(infoRobot);
                console.log(json);
            };

            //Limpiar todo el tablero, no debe quedar ninguna celda marcada
            hub.client.ClearAllBoard = function () {
                console.log("ClearAllBoard");
            };

            var robot = {
                id: '@Guid.NewGuid()',//guid,
                title: 'Martín',
                url: 'https://th.bing.com/th?id=OSK.HEROEo44BsJjZq4OiJSBU9d99XRzPtexiC9eQbWxPgFs4jM&w=472&h=280&c=13&rs=2&o=6&oif=webp&pid=SANGAM',
                color: '#b82615',
                position: { x: 0, y: 0 },
            };

            //EJEMPLO
        function setPosition(x, y) {
                //de esta manera notificamos a los demás la nueva posición de nuestro robot
                hub.invoke('SendRobotInformation', JSON.stringify(robot));
            }

            //De esta forma notificas a los demás la posición de tu robot
            //hub.invoke('SendRobotInformation', JSON.stringify(robot));

        $("#00").attr("src", robot.url);
        var posicionx = 0;
        var posiciony = 0;

        $(window).keydown(function (event) {

            if (event.keyCode == '40' && posicionx == 9) {
                return false;
            }
            if (event.keyCode == '37' && posiciony == 0) {
                return false;
            }
            if (event.keyCode == '38' && posicionx == 0) {
                return false;
            }
            if (event.keyCode == '39' && posiciony == 9) {
                return false;
            }

            $("#" + posicionx + posiciony).removeAttr("src");
            $("#" + posicionx + posiciony).css("background-color", robot.color);
            

            
            if (event.keyCode == '40') {
                posicionx += 1;
            }
            if (event.keyCode == '39') {
                posiciony += 1;
            }
            if (event.keyCode == '38') {
                posicionx -= 1;
            }
            if (event.keyCode == '37') {
                posiciony -= 1;
            }
            $("#" + posicionx + posiciony).attr("src", robot.url);

            robot.position.x = posicionx;
            robot.position.y = posiciony;

            hub.invoke('SendRobotInformation', JSON.stringify(robot));
        });
        
    </script>
}
