@{
    ViewBag.Title = "Battle Robot";
}

<div id="tablero"></div>

@section scripts{
    <script>// Crea una conexión con tu Hub
        var hub = $.connection.robotHub;

        // Inicia la conexión
        $.connection.hub.start()
            .done(function () {
                console.log('Now connected, connection ID=' + $.connection.hub.id);
            })
            .fail(function () {
                console.log('Could not Connect!');
            });

        //Recibes los cambios que ha tenido cada robot
        hub.client.ReceiveNotification = function (infoRobot) {
            let json = JSON.parse(infoRobot);
            console.log(json);
        };

        //Limpiar todo el tablero, no debe quedar ninguna celda marcada
        hub.client.ClearAllBoard = function () {
            console.log("ClearAllBoard");
        };

        var robot = {
            id: 'XXXX',//guid,
            title: 'MI NOMBRE',
            url: 'URL PUBLICA DE UNA IMAGEN',
            color: '#000000',
            position: { x: 0, y: 0 },
        };

        //EJEMPLO
        function setPosition(x, y) {
            //de esta manera notificamos a los demás la nueva posición de nuestro robot
            hub.invoke('SendRobotInformation', JSON.stringify(robot));
        }

        //De esta forma notificas a los demás la posición de tu robot
        //hub.invoke('SendRobotInformation', JSON.stringify(robot));

        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------
        //CODIGO CRISTOBAL
        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------

        // CREACION TABLERO

        let dimensionTablero = 20;

        function dibujarTablero(tamano) {
            var contenido = '';

            // Generar filas y columnas del tablero
            for (var i = 0; i < tamano; i++) {
                contenido += '<div class="fila">';
                for (var j = 0; j < tamano; j++) {
                    // Asignamos un id para cada pivote de la tabla.
                    var idCasilla = 'casilla-' + i + '-' + j;
                    contenido += '<div id="' + idCasilla + '" class="casilla"></div>';
                }
                contenido += '</div>';
            }

            // Establecer el contenido del contenedor
            tablero.innerHTML = contenido;
        }

        var tablero = document.getElementById('tablero');


        dibujarTablero(dimensionTablero);

        //---------------------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------------------

        //DINÁMICA ROBOT

        // Añadir el personaje en la posición inicial
        var idCasillaInicial = 'casilla-0-0';
        var casillaInicial = document.getElementById(idCasillaInicial);
        casillaInicial.classList.add('personaje');


        document.addEventListener('keydown', function (event) {
            var idCasillaActual = obtenerIdCasillaPersonaje();
            var casillaActual = document.getElementById(idCasillaActual);

            // Obtener las posiciones actualmente ocupadas por el personaje
            var posiciones = idCasillaActual.split('-');
            var fila = parseInt(posiciones[1]);
            var columna = parseInt(posiciones[2]);

            // Mover el personaje según la tecla presionada
            switch (event.key) {
                case 'ArrowUp':
                    if (fila > 0) {
                        fila--;
                    }
                    break;
                case 'ArrowDown':
                    if (fila < dimensionTablero - 1) {
                        fila++;
                    }
                    break;
                case 'ArrowLeft':
                    if (columna > 0) {
                        columna--;
                    }
                    break;
                case 'ArrowRight':
                    if (columna < dimensionTablero - 1) {
                        columna++;
                    }
                    break;
                default:
                    return;
            }

            // Obtener el id de la nueva casilla del personaje
            var idNuevaCasilla = 'casilla-' + fila + '-' + columna;
            var nuevaCasilla = document.getElementById(idNuevaCasilla);

            // Mover el personaje a la nueva casilla
            casillaActual.classList.remove('personaje');
            nuevaCasilla.classList.add('personaje');
        });

        function obtenerIdCasillaPersonaje() {
            var casillas = document.getElementsByClassName('casilla');

            for (var i = 0; i < casillas.length; i++) {
                if (casillas[i].classList.contains('personaje')) {
                    return casillas[i].id;
                }
            }

            return null; // Si no se encuentra ninguna casilla con la clase 'personaje'
        }</script>

    <style>

        .fila {
            display: flex;
        }

        .casilla {
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }

        .personaje {
            background-color: green;
            width: 50px;
            height: 50px;
        }
    </style>
}